.interestTitle {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
  }
  
  .interestGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 150px;
    height: 680px;
    margin-top: 1px;
  }

  .interestCard {
    height: 300px;
  }
  
  
  